# Build
dist/
*.tsbuildinfo

# Claude
.claude/

# Dependencies
node_modules/

# Developing
.dev/
src-r/data/

# Docs
docs/llms-txt/
docs/third-party/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# macOS system files
.DS_Store
.Rproj.user
.positai

# Skills
.agents
