@import 'tailwindcss';
/* biome-ignore lint/suspicious/noUnknownAtRules: @source is a Tailwind CSS directive.*/
@source not "../docs/llms-txt/**/*";

:root {
  background-color: #f6f6f6;
  color: #0f0f0f;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  line-height: 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  background-color: #e8e8e8;
  border-color: #396cd8;
}
